.drag {
  -webkit-transition: -webkit-transform 0s linear, opacity 0s linear !important;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}
#fork-ribbon {
  display: none;
}
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  overflow: hidden;
}
#list-collection {
  z-index: 1;
}
.collection {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.3s cubic-bezier(0.67, 0.18, 0.3, 0.86);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.collection.fade {
  opacity: 0;
}
.item {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform-origin: center center;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.67, 0.18, 0.3, 0.86), opacity 0.25s cubic-bezier(0.67, 0.18, 0.3, 0.86);
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
}
.item .slider {
  -webkit-transition: background-color 0.15s cubic-bezier(0.67, 0.18, 0.3, 0.86), color 0.15s cubic-bezier(0.67, 0.18, 0.3, 0.86);
  cursor: pointer;
  position: relative;
  z-index: 1;
  height: 64px;
}
.item .slider .inner {
  -webkit-transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  padding-left: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 64px;
  line-height: 64px;
}
.item .check,
.item .cross {
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
}
.item .check {
  left: 0;
}
.item .cross {
  right: 0;
}
.item.sorting {
  -webkit-transition: -webkit-transform 0s linear !important;
}
.item.sorting .slider {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05) !important;
}
.item.sorting-trans {
  z-index: 2 !important;
  -webkit-transition: -webkit-transform 0.12s ease-out;
}
.item.sorting-trans .slider {
  -webkit-transition: -webkit-transform 0.12s ease-out;
}
.list-item .count {
  position: absolute;
  width: 64px;
  height: 63px;
  right: 0;
  top: -1px;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
}
.list-item.empty {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
}
.todo-item .line {
  position: absolute;
  height: 2px;
  left: 10px;
  top: 31px;
  width: 0;
  background-color: #fff;
  -webkit-transition: width 0s linear, background-color 0.15s cubic-bezier(0.67, 0.18, 0.3, 0.86);
}
.todo-item.done {
  color: #666;
}
.todo-item.done .slider {
  background-color: #000 !important;
}
.todo-item.done .line {
  background-color: #666;
}
.todo-item.green .slider {
  background-color: #0A3 !important;
}
body.desktop {
  background: url(../img/bg.png) center center no-repeat;
}
body.desktop * {
  -webkit-user-select: none;
}
body.desktop img {
  -webkit-user-drag: none;
}
body.desktop #wrapper {
  width: 320px;
  height: 548px;
  top: 50%;
  left: 50%;
  margin-top: -259px;
  margin-left: -160px;
}
body.desktop #fork-ribbon {
  display: inline;
}
#log {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 14px;
}
