@itemHeight: 64px;

.drag {
	-webkit-transition: -webkit-transform 0s linear !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #fff;
}

#fork-ribbon {
	display: none;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	overflow: hidden;
}

.list {
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0s linear;
	position: relative;
}

.item {
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-webkit-transition: -webkit-transform .2s ease-in-out,
						background-color .2s ease-in-out;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: @itemHeight;
	.inner {
		cursor: pointer;
		position: relative;
		-webkit-transform: translate3d(0,0,0);
		height: @itemHeight;
		line-height: @itemHeight;
		box-sizing: border-box;
		padding-left: 12px;
		border-top: 1px solid rgba(255,255,255,.07);
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}

.list-item {
	background-color: #0086F3;

	.count {
		position: absolute;
		width: 64px;
		height: 63px;
		right: 0;
		top: -1px;
		background-color: rgba(255,255,255,.15);
		text-align: center;
	}

	&.empty {
		color: rgba(255,255,255,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.13);
	}
}

// Desktop

body.desktop {

	background: url(../img/bg.png) center center no-repeat;

	* {
		-webkit-user-select: none;
	}

	img {
		-webkit-user-drag: none;
	}

	#wrapper {
		width: 320px;
		height: 548px;
		top: 50%;
		left: 50%;
		margin-top: -259px;
		margin-left: -160px;
	}

	#fork-ribbon {
		display: inline;
	}

}

#log {
	position: absolute;
	bottom: 5px;
	width: 100%;
	left: 0;
	text-align: center;
	font-size: 14px;
}